<ion-header>
  <ion-toolbar>
    <ion-title>PESANAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="crescent"
          refreshingText="Refreshing...">
        </ion-refresher-content>
  </ion-refresher>
  <div class="row">
    <div class="col">
      <ng-container *ngIf="statusMitra=='Terverifikasi'; else elseTemplateMitra">
          <ion-card>
              <ion-list inset no-padding>
                  <label>Detail Pesanan</label>
                  <ion-textarea placeholder="Contoh: kangkung 1kg, telor 1/4kg, beras 1 ton, dst" name="rfo" auto-grow="true" [(ngModel)]="description" required></ion-textarea>
                </ion-list>
                <div class="col ion-text-center">
                  <ion-button expand="block" class="energized" color="danger" (click)="postRfo()" padding>MASUKKAN PESANAN</ion-button>
                </div>
          </ion-card>
      </ng-container>
      <ng-template #elseTemplateMitra>
        <ion-list inset no-padding>
            <h6>Belum terdaftar sebagai mitra, silahkan mendaftar di menu Profile</h6>
        </ion-list>
      </ng-template>

       <!-- <ion-card>
        {{datarfo}}
      </ion-card> -->

      <ng-container *ngIf="datarfo!=null; else elseTemplate">
        <ion-card>
          <ion-list inset no-padding *ngFor="let item of datarfo">
            <ion-item (click)="itemClick(item)">
              <ion-label>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                    </ion-col>
                    <ion-col>
                        <ng-container *ngIf="item.flag_pengajuan_harga==0; else flag">
                            <div class="ion-text-end">
                                <ion-button  fill="solid" size="small" color="danger" style="font-size: 10px;">Belum ada penawaran</ion-button>
                            </div>
                        </ng-container>
                        <ng-template #flag>
                          <ng-container *ngIf="!item.invoice_status; else elseInv">
                              <div class="ion-text-end">
                                  <ion-button  fill="solid" size="small" color="success" style="font-size: 10px;" >Sudah ada penawaran</ion-button>
                              </div>
                          </ng-container>
                          <ng-template #elseInv>  
                              <div class="ion-text-end">
                                  <ion-button  fill="solid" size="small" color="success" style="font-size: 10px;" >Invoice {{item.invoice_status}}</ion-button>
                              </div>
                          </ng-template> 
                        </ng-template>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                  {{item.no_rfo}}
                  <ion-label class="date-rfo">
                    Tgl Pesan : {{item.rfo_date}}
                  </ion-label>
                  <ion-label class="date-rfo">
                    Item Pesanan : {{item.notes}}
                  </ion-label>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="rfo-text" padding>
            <span>Belum ada Pesanan</span>
        </div>
      </ng-template>
    </div>
  </div>
</ion-content>
