<ion-header>
  <ion-toolbar>
    <ion-title>RFO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="crescent"
          refreshingText="Refreshing...">
        </ion-refresher-content>
  </ion-refresher>
  <div class="row">
    <div class="col">
      <ng-container *ngIf="statusMitra===true; else elseTemplate">
          <ion-card>
              <ion-list inset no-padding>
                  <label>Order</label>
                  <ion-textarea placeholder="Contoh: kangkung 1kg, telor 1/4kg, beras 1 ton, dst" name="rfo" auto-grow="true" [(ngModel)]="description"></ion-textarea>
                </ion-list>
                <div class="col ion-text-center">
                  <ion-button expand="block" class="energized" color="danger" (click)="postRfo()" padding>KIRIM RFO</ion-button>
                </div>
          </ion-card>
      </ng-container>
      <ng-template #elseTemplate>
        <ion-list inset no-padding>
            <h6>Belum terdaftar sebagai mitra, silahkan mendaftar di menu Profile</h6>
        </ion-list>
      </ng-template>

      <ng-container *ngIf="data!=''; else elseTemplate">
        <ion-card>
          <ion-list inset no-padding *ngFor="let item of datarfo">
            <ion-item>
              <ion-label>
                  {{item.description}}
              </ion-label>
              <ion-label class="date-rfo">
                  Tgl Pesan : {{item.date}}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="rfo-text" padding>
            <span>Belum ada RFO</span>
        </div>
      </ng-template>
    </div>
  </div>
</ion-content>
