<ion-header>
  <ion-toolbar>
    <ion-title>PENGATURAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="row header">
        <div class="col">
            <ion-card>
                <ion-list inset no-padding>
                    <label>Password Lama</label>
                    <ion-input type="password" name="old_password" class="register-form" placeholder="Password Lama" [(ngModel)]="old_password"></ion-input>
                    <label>Password Baru</label>
                    <ion-input type="password" name="new_password" class="register-form" placeholder="Password Baru" [(ngModel)]="new_password"></ion-input>
                    <label>Ketik Ulang Password Baru</label>
                    <ion-input type="password" name="re_password" class="register-form" placeholder="Ketik Ulang Password Baru" [(ngModel)]="re_password"></ion-input>
                  </ion-list>
            </ion-card>
        </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="ion-text-center">
                <ion-button expand="block" class="energized" color="danger" (click)="changePassword()" padding>SIMPAN</ion-button>
            </div>
        </ion-col>
        <ion-col>
            <div class="ion-text-center">
                <ion-button expand="block" class="energized" color="danger" (click)="logout()" padding>KELUAR</ion-button>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
