<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-buttons slot="start">
              <ion-back-button text="Kembali" icon="arrow-back"></ion-back-button>
            </ion-buttons>
      </ion-buttons>
    <ion-title>DETAIL HARGA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row-head">
        <ion-col>
            <ion-input type="hidden" [(ngModel)]="year"></ion-input>
            <ion-input type="hidden" [(ngModel)]="docid"></ion-input>
            <ion-label>Item</ion-label>
        </ion-col>
        <ion-col>
            <ion-label>Harga</ion-label>
        </ion-col>
        <ion-col>
            <ion-label>Unit</ion-label>
        </ion-col>
        <ion-col>
            <ion-label>QTY</ion-label>
        </ion-col>
        <ion-col>
            <ion-label>TOTAL</ion-label>
        </ion-col>
    </ion-row>
    <ion-row class="isi" *ngFor="let item of dataDet" style="text-align: center;">
      <ion-col>
        <ion-label>{{item.product_name}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{item.harga_jual}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{item.unit_name}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{item.jumlah}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{item.tot_harga_jual}}</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid style="text-align: right;">
    <ion-row>
      <ion-col>
          <ion-label>Ongkos Kirim :&nbsp;{{ongkos_kirim}}</ion-label>
      </ion-col>  
    </ion-row>
    <ion-row style="border-top: 1px solid rgb(177,177,177,0.5); border-bottom: 1px solid rgb(177,177,177,0.5);">
      <ion-col>
          <ion-label>TOTAL :&nbsp;{{harga_total}}</ion-label>
      </ion-col>  
    </ion-row>
    <!-- <ion-row style="text-align: left;">
      <ion-col>
          <ion-label style="font-size: 10px; color: red;">*abaikan jika tidak setuju</ion-label>
          <ion-input value="Pilih Tipe Pembayaran" readonly></ion-input>
          <ion-select placeholder="Pilih salah satu" [(ngModel)]="payment">
              <ion-select-option value="1">COD</ion-select-option>
              <ion-select-option value="2">Transfer</ion-select-option>
              <ion-select-option value="3">Termin</ion-select-option>
          </ion-select>
      </ion-col>
    </ion-row> -->
    <ion-row style="text-align: left;">
      <ion-col>
        <ion-input value="Catatan" readonly></ion-input>
        <textarea style="width: 100%; min-height: 100px;" [(ngModel)]="catatan" placeholder="Catatan Produk & Catatan Pengiriman"></textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="col ion-text-center">
            <ion-button expand="block" class="energized" color="danger" (click)="postPenawaran(year,docid,approve=0,catatan)" padding>TIDAK SETUJU</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="col ion-text-center">
            <ion-button expand="block" class="energized" color="success" (click)="postPenawaran(year,docid,approve=1,catatan)" padding>SETUJU</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
