<!-- <div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div> -->

<ion-content padding>
  <div class="login">
      <div class="row styling-row">
          <div class="col" text-center>
            <div class="logo-header" no-padding>
              <img src="../../assets/icon/logo_marko.png">
            </div>
            <b><span>Aplikasi Untuk Bisnis Anda</span></b>
          </div>
        </div>
        
        <div class="row header">
          <div class="col">
            <ion-list inset no-padding>
                <!--ion-label>Username</ion-label-->
                <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Nomor HP" class="login-form">  </ion-input>
                <br>
                <!--ion-label>Password</ion-label-->
                <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Password" class="login-form"></ion-input>
              </ion-list>
          </div>
        </div>
      
        <div class="row styling-row">
          <div class="col ion-text-center">
            <ion-button expand="block" class="energized" color="danger" (click)="login()">MASUK</ion-button>
          </div>
        </div>
  </div>
  </ion-content>

  <ion-footer>
      <div class="register" (click)="register()">
          <b>DAFTAR DISINI</b>
      </div>
  </ion-footer>
  