<ion-content class="ion-padding">
    <div class="row styling-row">
      <div class="col" text-center>
          <h1>B2B</h1>
          <h3>Login</h3>
      </div>
    </div>
    
    <div class="row header">
      <div class="col">
        <ion-list inset>
          <ion-label>Username</ion-label>
          <ion-input type="text" name="username" [(ngModel)]="username" placeholder="Username" class="login-form">  </ion-input>
          <br>
          <ion-label>Password</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Password" class="login-form"></ion-input>
        </ion-list>
      </div>
    </div>
  
    <div class="row styling-row">
      <div class="col ion-text-center">
        <ion-button expand="block" class="energized" color="danger" (click)="login()">Sign In</ion-button>
      </div>
        <h6 (click)="register()">Register</h6>
    </div>
  </ion-content>
  