<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-buttons slot="start">
              <ion-back-button text="Kembali" icon="arrow-back"></ion-back-button>
            </ion-buttons>
      </ion-buttons>
    <ion-title>DETAIL PENAWARAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-input readonly value="Item" style="text-align: center;"></ion-input>
    <ion-input readonly value="Berat (Kg)" style="text-align: center;"></ion-input>
    <ion-input readonly value="Unit" style="text-align: center;"></ion-input>
    <ion-input readonly value="Harga" style="text-align: center;"></ion-input>
  </ion-item> -->
  <ion-input type="hidden" [(ngModel)]="year"></ion-input>
  <ion-input type="hidden" [(ngModel)]="docid"></ion-input>
          
  <ion-card>
      <ion-list inset no-padding>
          <ion-label>No Penawaran</ion-label>
          <ion-input class="upd-rfo" value="{{no_rfo}}" readonly></ion-input>
          <ion-label>Nama Warung</ion-label>
          <ion-input class="upd-rfo" value="{{nama_warung}}" readonly></ion-input>
          <ion-label>Tanggal Pesan</ion-label>
          <ion-input class="upd-rfo" value="{{tgl_pesan}}" readonly></ion-input>
          <ion-label>Item Pesanan</ion-label>
          <ion-textarea placeholder="Contoh: kangkung 1kg, telor 1/4kg, beras 1 ton, dst" name="rfo" auto-grow="true" [(ngModel)]="description"></ion-textarea>
          <!-- <ion-item>
              <span>update :&nbsp;</span>
              <span>{{item.button_update}}</span>
            </ion-item> -->
      </ion-list>
  </ion-card>
<div class="col ion-text-center" *ngIf="button_update=='Enable'">
    <ion-button expand="block" class="energized" color="danger" padding (click)="postUpdateRfo(year,docid,description)">UPDATE PESANAN</ion-button>
</div>
</ion-content>
