<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-buttons slot="start">
              <ion-back-button text="Kembali" icon="arrow-back"></ion-back-button>
            </ion-buttons>
      </ion-buttons>
    <ion-title>INVOICE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <img src="../../assets/logo_marko.png" width="80px" style="margin-left: 7px;">
      <ion-row>
        <ion-col size="3">
          Nomor Invoice
        </ion-col>
        <ion-col size="0.1">
          :
        </ion-col>
        <ion-col>
            {{no_invoice}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
         Tanggal
        </ion-col>
        <ion-col size="0.1">
            :
        </ion-col>
        <ion-col>
            {{tanggal_invoice}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"> 
          Metode Pembayaran
        </ion-col>
        <ion-col size="0.1">
            :
        </ion-col>
        <ion-col>
          {{metode_pembayaran}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"> 
          Tipe Pembayaran
        </ion-col>
        <ion-col size="0.1">
            :
        </ion-col>
        <ion-col>
          {{tipe_pembayaran}}
        </ion-col>
      </ion-row>
      
      <ion-row class="row-head" style="background-color: rgb(182, 111, 60); color: #fff;">
          <ion-col>
              <ion-label>Customer</ion-label>
          </ion-col>
          <ion-col>
              <ion-label>No Pesanan</ion-label>
          </ion-col>
          <!-- <ion-col>
              <ion-label>Kurir</ion-label>
          </ion-col> -->
      </ion-row>
      <ion-row style="text-align: center;">
          <ion-col>
              <ion-label>{{nama_mitra}}</ion-label>
          </ion-col>
          <ion-col>
              <ion-label>{{no_rfo}}</ion-label>
          </ion-col>
          <!-- <ion-col>
              <ion-label>Kurir</ion-label>
          </ion-col> -->
      </ion-row>
      <ion-row style="text-align: center;">
        <ion-col>
          {{alamat}}
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-row class="row-head" style="background-color: rgb(182, 111, 60); color: #fff;">
          <ion-col>
              <ion-label>Item</ion-label>
          </ion-col>
          <ion-col>
              <ion-label>Harga</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>QTY</ion-label>
          </ion-col>
          <ion-col>
              <ion-label>Unit</ion-label>
          </ion-col>
          <ion-col>
              <ion-label>TOTAL</ion-label>
          </ion-col>
      </ion-row>
      <ion-row class="isi" style="text-align: center;" *ngFor="let item of invoiceDet">
        <ion-col>
          <ion-label>{{item.product_name}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{item.harga_jual}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{item.jumlah}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{item.unit_name}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>{{item.tot_harga_jual}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid style="text-align: right;">
      <ion-row>
        <ion-col>
            <ion-label>Ongkos Kirim :&nbsp;{{ongkos_kirim}}</ion-label>
        </ion-col>  
      </ion-row>
      <ion-row style="border-top: 1px solid rgb(177,177,177,0.5); border-bottom: 1px solid rgb(177,177,177,0.5);">
        <ion-col>
            <ion-label>TOTAL :&nbsp;{{harga_total}}</ion-label>
        </ion-col>  
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>Tanda Terima</ion-col>
      </ion-row>
      <ion-row style="margin-top: 20px;">
        <ion-col>
          {{nama_mitra}}
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
